  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Skynet, the ultimate academic scheduler. Next, world domination.">
      <meta name="author" content="Jesus Imery">
    </head>
    <body>
        <div class="carousel slide" id="carousel-344732">
          <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-344732">
            </li>
            <li data-slide-to="1" data-target="#carousel-344732">
            </li>
            <li data-slide-to="2" data-target="#carousel-344732">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag('banner1.jpg', alt: 'Carousel Bootstrap First') %>
              <div class="carousel-caption">
                <h4>
                  Your schedule, engineered just for you!
                </h4>
              </div>
            </div>
            <div class="item">
              <%= image_tag('banner2.jpg', alt: 'Carousel Bootstrap Second') %>
              <div class="carousel-caption">
                <h4>
                  We help you to prepare your course sequence, ensuring you graduate when you want to, how you want to.
                </h4>
              </div>
            </div>
            <div class="item">
              <%= image_tag('banner3.jpg', alt: 'Carousel Bootstrap Third') %>
              <div class="carousel-caption">
                <h4>
                  Take control over your University experience! Make the most out of the best years of your life!
                </h4>
              </div>
            </div>
          </div> <a class="left carousel-control" href="#carousel-344732" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-344732" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="page-header">
          <h1>
            Skynet! <small>The Ultimate Academic Scheduler!</small>
          </h1>
        </div>
        <p>
          Skynet is a course scheduler for Software Engineering students at Concordia which provides a personalized schedule based on your preferences. Choose between day and evening classes for each semester, and further customize your schedule by allocating unavailable times. Determine how many credits you want per semester, and Skynet will provide your ideal schedule for your entire university stay.
        </p>
  
    </body>
  </html>