<% provide(:title, 'Help') %>
<h1>Help Page</h1>
<div class="container">
  <p>Can put some stuff here</p>
  <p>This is a test. I have a constant variable with value = <%= Myapp::MY_CONSTANT %></p>
</div>