<%= javascript_include_tag "timetableCourseDisplay" %>

<div class="row">
  <div class="col-md-8"><h1>Schedule for <%= @semesterSelection %>:</h1></div>
  <div class="col-md-4">
       <span class="pull-right">
      <%= link_to "Next Semester", semesterSelection_path, :class=>"btn btn-danger btn-arrow-right" , :id => 'doneButton', style: "position: relative;top: 20px"%>
        </span>
<button onclick="addNewEvent()">Here</button>
  </div>
</div>



<div id='calendar'></div>